.sidebar {
  display: flex;
  width: 229px;
  height: 56px;
  gap: 15px;
  padding-top: 19px;
  flex-direction: column;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  padding-left: 16px;
}

.sidebar__log {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar__top {
  flex-direction: row;
  display: flex;
}

.sidebar__change {
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: transparent;
  text-align: left;
  padding: 0;
}

.sidebar__logout {
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: transparent;
  text-align: left;
  padding: 8px 0px 0px 0px;
}
